
  <section class="container" [ngClass]="{'form-shadow': loginForm.touched}">
    <header>Login Form</header>
  
    <form class="form" (ngSubmit)="onLoginFormSubmitted(loginForm)" #loginForm="ngForm">
        <div class="input-box">
          <input type="text" placeholder="Username" name="username" ngModel required #username="ngModel"/>
          <div>
            <small *ngIf="username.invalid && username.touched">*Username is a required field</small>
          </div>
        </div>
    
        <div class="input-box">
          <input type="password" placeholder="Password" name="password" ngModel required #password="ngModel"/>
          <div>
            <small *ngIf="password.invalid && password.touched">*Password is a required field</small>
          </div>
        </div>
    
        <div class="column">
          <input type="checkbox" name="rememberMe" ngModel />
          <label for="rememberMe">Remember Me</label>
        </div>
    
        <input type="submit" value="Login" class="submit-btn" [disabled]="!loginForm.valid"/>
    
        <div class="register-link">
          <p>Don't have an account? <a routerLink="/register">Register here</a></p>
        </div>
      </form>
  </section>

  